@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<p style="margin-top: 20vh">Your email has been confirmed successfully!</p>
<br />
<p>Press<a href="/Account/Login">here</a> to redirect to login page</p>