.u-section-1 {
  background-image: url("images/1731097_medium2000.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-1 .u-list-1 {
  width: 563px;
  margin: 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 196px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 27px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-family: Lato, sans-serif;
  margin: 0 3px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 22px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 27px;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-family: Lato, sans-serif;
  margin: 0 3px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 27px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-family: Lato, sans-serif;
  margin: 0 3px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-list-1 {
    width: 444px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 588px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 39.94% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-list-1 {
    width: 398px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 28.82% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}